/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --text-color-danger: rgb(152, 58, 58);
    --white: #f1f1f1;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
    color: var(--text-color-dark);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-green);
}

/* ---------- nav styling ---------- */
nav {
    display: grid;
    background-color: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

@media (min-width: 600px) {
    nav {
        padding: 1em 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Style the links inside the navigation bar */
nav a {
    display: inline-block;
    color: var(--text-color-light);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid rgb(38, 76, 89);
}

/* Change the color of links on hover */
nav a:hover {
    background-color: var(--light-green);
    color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
    background-color: var(--light-green);
    color: var(--green);
}

.view-content {
    display: none;
    padding: 248px 2em;
}

@media (min-width: 600px) {
    .view-content {
        padding: 94px 2em;
    }
}

.view-content.active {
    display: block;
}
